<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matheus.projetolistadecompras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ListaDeCompras"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="matheus.projetolistadecompras.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="matheus.projetolistadecompras.Main2Activity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>